

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-image: url('/static/img/fondo.jpg');
  background-repeat: no-repeat;
  background-size: 1366px 768px;
  background-position: top;
  background-attachment: fixed;
  
}


input[type="text"], input[type="password"]{
  outline: none;
  padding: 10px;
  display: block;
  width: 300px;
  border-radius: 3px;
  border: 1px solid #eee;
  margin: 20px auto;
  background-color: white;
}
table {
   width: 100%;
   float:right;
   border: 1px solid #000;
   background-color: #2CBEF3;
   border-collapse: collapse;
   margin:150px auto;
   width: 800px;
   cursor: pointer;
   margin-right: 80px;

}

th, td {
   font-family: 'Roboto', sans-serif;
   width: 25%;
   text-align: left;
   padding: 5px;
}
thead {
  background-color: #2CF3D6;
  border-bottom: solid 5px #021E70;

}
tr:nth-child(even){
  background-color: #2CDCF3;
}

tr:hover td{
  background-color: #9FF3E7;
  color: white;
}
ul.horizontal{
  margin:0;
  padding:0;
}
ul.horizontal li{
  display:block;
  float:left;
  padding:0 10px;
  }
input[type="submit"] {
  padding: 10px;
  color: #fff;
  background: #0098cb;
  width: 320px;
  margin: 20px auto;
  margin-top: 0;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #00b8eb;
}
img.imagenes{
  width: 100px;
  height: 100px;
  float: left;
  margin-left: 10px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #eee;
}
.datosrelleno{
  background-color: #AEF5FF;
  float: left;
  outline: none;
  padding: 10px;
  display: block;
  width: 350px;
  border-radius: 3px;
  border: 1px solid #eee;
  margin: 10px auto;
  margin-left: 10px;
}

.transparencia{
  background-color: rgba(174, 245, 255, 0.5);
  float: left;
  outline: none;
  padding: 10px;
  display: block;
  width: 350px;
  border-radius: 3px;
  border: 1px solid #eee;
  margin: 10px auto;
  margin-left: 10px;
  cursor: pointer;
}
.iteraciones{
  background-color: rgba(174, 245, 255, 0.5);
  width: 350px;
  text-align:center;
  margin-left: 500px;
}
header {
  color: #fff;
  background-color: rgba(174, 245, 255, 0.5);
  border-bottom: 2px solid #000;
  padding: 10px 0;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}
header a {
  text-decoration: none;
  color: #333;
}
