<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hijos sin Padres</title>
</head>
<body>
    <table title="Hijos sin Padres" >
        <thead>
            <tr>
                <th>id</th>
                <th>Nombre</th>
            </tr>
        </thead>
            <tbody>
                {%for h in hijosolo%}
                <tr>
                    <td>{{h.id}}</td>
                    <td>{{h.nom}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{%url 'menu' %}">Regresar al menu</a>
</body>
</html>