{%load static%}
<html>

<head>
  <meta charset="utf-8">
  <title>Hijos</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css'%}">
  
</head>

<body>
  <header>
    <a href="">LISTADO DE NIÑOS REGISTRADO EN LA BASE DE DATOS</a>
    <a href="{%url 'menu' %}" style="text-align: right; display: inline-block; width: 100%; ">Regresar al menu</a>
  </header>
  <form class = "datosrelleno" method="POST">
    <hr color="blue" size=3>
    <td>Ingresar un nuevo niño</td>
    <hr color="blue" size=3>
    <td><br></td>
    <td><br></td>
    {% csrf_token %}
    <td>ID<br></td>
    {{form.id}}
    <td><br></td>
    <td><br></td>
    <td>NOMBRE:<br></td>
    {{form.nom}}
    <td><br></td>
    <td>HIJO DE:<br></td>
    {{form.hijode}}
    <td><br></td>
    <td><br></td>
    <button  type="submit">CREAR REGISTRO</button>
    <hr color="blue" size=3>
</form>
  <form class="vistatabla">
    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>Nombre</th>
          <th>Hijo de</th>
          <th>Opcion</th>
        </tr>
      </thead>
      <tbody>
        {% for hijo in Hijos %}
        <tr>
          <td>{{hijo.id}}</td>
          <td>{{hijo.nom}}</td>
          <td>{{hijo.hijode}}</td>
          <td><a href="{%url 'editar_hijo' hijo.id %}">Editar</a> <a href="{%url 'eliminar_hijo' hijo.id %}">
              Eliminar</a> </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </form>
    
</body>

</html>