<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ol>
        <li><a href="{%url 'hijo' %}">CRUD tabla HIJO</a></li>
        <li><a href="{%url 'padre' %}">CRUD tabla PADRE</a></li>
        <li>Consultas</li>
        <ul>
            <li><a href="{%url 'consulta_1'%}">CONSULTA 1. Hijos de un padre seleccionado</a></li>
            <li><a href="{%url 'consulta_2'%}">CONSULTA 2. Padres sin hijos</a></li>
            <li><a href="{%url 'consulta_3'%}">CONSULTA 3. Hijos sin padres</a></li>
            <li><a href="{%url 'consulta_4'%}">CONSULTA 4. Padres con el numero de hijos</a></li>
        </ul>
    </ol>
</body>
</html>