{%load static%}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>Padres</title>
    
</head>
<body>
    <header>
        <a href="">LISTADO DE PADRES REGISTRADO EN LA BASE DE DATOS</a>
        <a href="{%url 'menu' %}" style="text-align: right; display: inline-block; width: 100%; ">Regresar al menu</a>
      </header>
    <form class="datosrelleno" method="POST">
        <hr color="blue" size=3>
        <td>INGRESAR UN NUEVO PADRE</td>
        <hr color="blue" size=3>
        <td><br></td>
        <td><br></td>
        {% csrf_token %}
        <td>ID<br></td>
        {{form.id}}
        <td><br></td>
        <td><br></td>
        <td>NOMBRE:<br></td>
        {{form.nom}}
        <td><br></td>
        <td><br></td>
        <button  type="submit">CREAR REGISTRO</button>
        <hr color="blue" size=3>
    </form>

    <table>
    <thead>
        <tr>
            <th>id</th>
            <th>Nombre</th>
            <th>Opcion</th>
        </tr>
    </thead>
        <tbody>
            {% for padre in Padres %}
            <tr>
                <td>{{padre.id}}</td>
                <td>{{padre.nom}}</td>
                <td><a href="{%url 'editar_padre' padre.id %}">Editar</a> <a href="{%url 'eliminar_padre' padre.id %}"> Eliminar</a> </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    
</body>
</html>